body {
  margin: 50px 0;
  background-color: rgb(255, 255, 255);
}

.custom-container {
  margin: 0 auto;
}

#marker_text {
  margin: 0 auto;
  color: rgb(39, 153, 255);
}

.range-wrap {
  margin: 0 auto;
  padding: 0;
}

.start-timecode {
  float: left;
  color: rgb(39, 153, 255);
}

.end-timecode {
  float: right;
  color: rgb(39, 153, 255);
}

/* slider bar */
input[type="range"]{
  -webkit-appearance: none;
  -moz-apperance: none;
  outline: none;
  height: 4px;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(240, 249, 255))
  );
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
  margin-top: -1px;
  border-radius: 50%;
  border: 2px solid rgb(42, 105, 247);
}

.bubble {
  position: relative;
  color: rgb(59, 161, 246);
  margin-left: -27px;
}

.marker {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 32px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid rgb(254, 152, 41);
}